body {
  margin: 0;
}

.navbar {
  display: flex;
  position: fixed;
  height: 100vh;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 200px;
}

#photo {
  width: 100px;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 255, 1);
  display: block;
  background-image: url("../images/Lionking66.png");
  width: 100px;
  height: 100px;
  margin: 20px 0;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 0;
}

ul li {
    margin: 5px 0;
}

ul li a {
  text-decoration: none;
}

.content {
  margin: 0 0 0 200px;
  display: flex;
  flex-direction: column;
}
